{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">





<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

 


  <!-- /.table -->
  <section class="content">
    <div class="card">
     
      <div class="card-header">
        <h1 class="card-title text-success"> Kargo bekleyen Şirket ve Ürün Bilgileri listelenmiştir. </h1>
       
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            
            <tr>
              <th class="text-muted">Numara</th>
              <th class="text-muted">Şirket Adı</th>
              <th class="text-muted">Lokasyon</th>
              <th class="text-muted">Ürün Adı</th>
              <th class="text-muted">Stok(Palet)</th>
              <th class="text-muted">Sipariş(Palet)</th>
              <th class="text-muted">Tarih</th>
              <th class="text-muted">Durum</th>
              {% comment %} <th class="text-muted">Not</th>
              <th class="text-muted">Durum</th>
              <th class="text-muted">İşlem</th> {% endcomment %}

            </tr>
          </thead>
          <tbody>
            {% for object in product_list %}
            {% if object.is_sendable %}
            <tr class="text-success">
            {%else%}
            <tr class="text-warning">
            {%endif%}
           
              <td>{{object.company_details_id}}</td>
              <td>{{object.company_details__company__name}}</td>
              <td>{{object.company_details__company__city__name}}</td>
            
              <td> {{object.product__name}}({{object.product__package_quantity}}K {{object.product__palette_quantity}}A)</td>
              <td>{{object.total_stock_palette|floatformat:0}}</td>
              <td>{{object.quantity|floatformat:0}}</td>
              
              <td>{{object.created_at|date:"Y-m-d H:i:s"}}</td>
              <td><button type="button" {% if object.is_sendable %} class="btn btn-outline-success" {%else%}class="btn btn-outline-warning" {%endif%} 
                disabled>{{object.company_details__status__name}} </button></td>
              {% endfor %}
            </tr>
          </tbody>

        </table>
      </div>
      <!-- /.card-body -->
    </div>


  </section>



</div>
<!-- /.content-wrapper -->


{% endblock %}

{% block javascript%}



<script>
  $(function () {



   
    
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,   "bPaginate": false, "iDisplayLength": 25,  "order": [[6, "desc"]],
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');



  });
</script>




{% endblock %}