{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">





<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">




  <!-- /.table -->
  <section class="content">
    <div class="card">

      <div class="card-header">
        <h1 class="card-title text-success"> Şirket Adı:{{selling_list.0.company_details__company__name}} </h1>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
       
        <form action="{% url 'logistic_update_selling_order'  %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="company_details_id" value="{{ selling_list.0.company_details_id }}">
          <input type="hidden" name="company_id" value="{{selling_list.0.company_details__company_id}}">
          <div class="card-body">
   
              <div class="row">
                <div class="col-md-8 col-sm-8 col-12">
                  <label class="text-muted" id="totalSum" name="totalSum">{{general_str}}</label>
                </div>
  
              </div>
              
              <table id="example1" class="table table-bordered table-striped">

                <thead>
                  <tr>
                    {% comment %} <th class="text-muted">Ürün Kodu</th> {% endcomment %}
                    <th class="text-muted">Ürün Adı</th>
                    <th class="text-muted">Stok Koli</th>
                    <th class="text-muted">Birim Fiyat(₺)</th>
                    {% comment %} <th class="text-muted">Koli Fiyat(₺)</th> {% endcomment %}
                    <th class="text-muted">Vergi(%)</th>
                    <th class="text-muted">Palet Adet</th>
                    <th class="text-muted">İskonto(%)</th>
                    <th class="text-muted">KDV Tutarı(₺)</th>
                    <th class="text-muted">Mal-Hizmet(₺)</th>
                    <th class="text-muted">Toplam Adet</th>
                    {% comment %} <th class="text-muted">Bir Palet</th> {% endcomment %}
                    {% comment %} <th class="text-muted">Bir Koli</th> {% endcomment %}
  
                  </tr>
                </thead>
                <tbody>
                  {% for object in product_list %}
                  <tr>
                    {% comment %} <td> {{object.code}}</td> {% endcomment %}
                    <td> {{object.name}}({{object.palette_package_quantity}}K {{object.palette_quantity}}A)</td>
                    <td> {{object.stock_quantity}}</td>
                    <td>{{object.price|floatformat:2 }}</td>
                    {% comment %} <td>{{object.price_palette|floatformat:2 }}</td> {% endcomment %}
                    <td> {{object.vat}}</td>
                    <td><input type="number" class="form-control" id="quantity_{{object.id}}" min="0" value="{{object.quantity_selected}}"
                        name="quantity_{{object.id}}"  
                        onchange="calculateTotal({{object.id}},{{object.price_palette}},{{object.vat}},{{object.palette_quantity}})"></td>
                    <td><input type="number" class="form-control" id="discount_{{object.id}}" 
                        name="discount_{{object.id}}" min="0" value="{{object.discount}}" 
                        onchange="calculateTotal({{object.id}},{{object.price_palette}},{{object.vat}},{{object.palette_quantity}})"></td>
                    <td id="vat_{{object.id}}" name="vat_{{object.id}}">{{object.total_vat}}</td>
                    <td id="total_{{object.id}}" name="total_{{object.id}}">{{object.total_price}}</td>
                    <td id="adet_{{object.id}}" name="total_{{object.id}}">{{object.total_quantity}}</td>
                    {% comment %} <td>{{object.palette_package_quantity}}K {{object.product__palette_quantity}}A</td> {% endcomment %}
                    {% comment %} <td>{{object.package_quantity}} Adet</td> {% endcomment %}
  
                  </tr>
                  {% endfor %}
  
                </tbody>
  
              </table>
  
              <br>
  
              <div class="row">
  
                <div class="col-md-8 col-sm-8 col-12">
                  <label class="text-muted" id="totalSum2" name="totalSum2">{{general_str}}</label>
                </div>
  
              </div>
              <div class="row">
  
                <div class="col-md-2 col-sm-2 col-12">
                  <button name="submit" type="submit" class="btn btn-success">Güncelle</button>
                </div>
               
  
              </div>
  
          </div>
        </form>
       
      </div>
     
      <!-- /.card-body -->
    </div>

   
    
  

    


  </section>

 

</div>
<!-- /.content-wrapper -->



{% endblock %}

{% block javascript%}



<script>
  calculateTotal = (product_id, price,vat,palette_quantity) => {

    // Get the discount and quantity input fields for a product with a given product_id
    const discountInput = $("#discount_" + product_id);
    const quantityInput = $("#quantity_" + product_id);
    const totalInput = $("#total_" + product_id);
    const vatInput = $("#vat_" + product_id);

    // Get the values of the discount and quantity input fields
    let discount = Number(discountInput.val());
    const quantity = Number(quantityInput.val());
  
    if (discount >= 100) {
      discount = 0;
      discountInput.val(discount);
    }


    
    let total = (price - (price * discount / 100)) * quantity;
    //alert("vat:"+vat+" total:"+total)
    let total_vat = (total * vat / 100);
    total = total.toFixed(2); // round to 2 decimal place
    total = parseFloat(total); // convert back to a number
    total_vat = total_vat.toFixed(2); // round to 2 decimal place
    total_vat = parseFloat(total_vat); // convert back to a number


    $("#total_" + product_id).text(total); // Using jQuery
    $("#vat_" + product_id).text(total_vat); // Using jQuery
    $("#adet_" + product_id).text(palette_quantity*quantity); // Using jQuery

    // Get all the table cells with an ID starting with "total"
    const totalCells = document.querySelectorAll("td[id^='total_']");
    const vat_totalCells = document.querySelectorAll("td[id^='vat_']");

    // Initialize the sum variable
    let totalSum = 0;
    let vat_totalSum = 0;

    // Loop through the cells and sum their values
    for (let i = 0; i < totalCells.length; i++) {
      const cellValue = parseFloat(totalCells[i].innerHTML);
      totalSum += cellValue;
      const vat_cellValue = parseFloat(vat_totalCells[i].innerHTML);
      vat_totalSum += vat_cellValue;
    }

    if (totalSum > 0) {
      let all_total = totalSum + vat_totalSum
      all_total = all_total.toFixed(2); // round to 1 decimal place
      all_total = parseFloat(all_total); // convert back to a number
      totalSum = totalSum.toFixed(2); // round to 1 decimal place
      totalSum = parseFloat(totalSum); // convert back to a number
      vat_totalSum = vat_totalSum.toFixed(2); // round to 1 decimal place
      vat_totalSum = parseFloat(vat_totalSum); // convert back to a number
     // const formattedAmount = totalSum.toLocaleString('en-EN', {
    //    style: 'currency',
     //   currency: 'TRY'
     // });
     const formattedAmount = "Sipariş Toplam:"+totalSum+"₺ KDV Toplam:"+vat_totalSum+"₺ Genel Toplam:"+all_total+"₺"
      $("#totalSum,#totalSum2").text(formattedAmount);
      //$("#totalSum2").text(formattedAmount);
    } else {
      $("#totalSum,#totalSum2").text("Genel Toplam:0₺");
      //$("#totalSum2").text("Genel Toplam:0₺");
    }


  }
</script>


<script type="text/javascript">
  $('form').on('submit', function () {



    Swal.fire({
      title: 'Güncelleniyor...',
      html: 'Lütfen Bekleyiniz...',
      allowEscapeKey: false,
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading()
      }
    });

  })
</script>


<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": true,
      "autoWidth": false,
      "bPaginate": false,
      "iDisplayLength": 25,
      "order": [
        [2, "desc"]
      ],
      "searching": false, // disable search field,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    });
  });
</script>


{% endblock %}