{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <section class="content-header">
    
    <form action="{% url 'save_materials_manual'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          
            <input type="file" name="excel" id="excel" required="required" class="form-control" accept="application/excel" placeholder="Yeni Dosya yükleyiniz.!" />
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <button name="submit" type="submit" class="btn btn-primary " onclick="this.form.submit();">Yeni Excel Dosyası Yükle!</button>
      </div>
    
    </div>
  </form>
  </section>

  
  
  <!-- /.content -->

  


  <!-- /.table -->
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title text-muted"> Son Kayıtlar </h1>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-muted">No</th>
              <th class="text-muted">İsim</th>
              
             

            </tr>
          </thead>
          <tbody>
            {% for company in company_list %}

            <tr>
              <td>{{company.number}}</td>
              <td>{{company.name}}</td>
             
            </tr>

         

              {% endfor %}

          </tbody>

        </table>
        
      </div>
      <!-- /.card-body -->
    </div>


  </section>


</div>
<!-- /.content-wrapper -->





{% endblock %}

{% block javascript%}

 
<script>

$('form').on('submit', function(){

  $('.modal').removeClass('in');
  $('.modal').attr("aria-hidden","true");
  $('.modal').css("display", "none");
  $('.modal-backdrop').remove();
  $('body').removeClass('modal-open');
 
  Swal.fire({
    title: 'Güncelleniyor...',
    html: 'Lütfen Bekleyiniz...',
    allowEscapeKey: false,
    allowOutsideClick: false,
    didOpen: () => {
      Swal.showLoading()
    }
  });
})

   
</script>

{% endblock %}