{% extends 'base.html' %}
{% load static %}

{% block content %}





  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Şifre Güncelle</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Anasayfa</a></li>
              <li class="breadcrumb-item active">Şifre Güncelleme</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          

          <div class="card-tools">
            
          </div>
          

        </div>
        <div class="card-body">
			<div class="col-md-6">
			<form action="{% url 'change_password' %}" method="POST">
				{% csrf_token %}

				<div class="form-group">
					<label>Şifrenizi Giriniz.</label>
					<input type="password" autocomplete="current-password" name="current_password" placeholder="Şifre" class="form-control" required>
				</div>
				<div class="form-group">
					<label>Yeni Şifrenizi Giriniz</label>
          <input type="password"  id="new_password" autocomplete="new_password" name="new_password" placeholder="Yeni Şifre" class="form-control">
				</div>
				<div class="form-group">
					<label>Yeni Şifrenizi Onaylayınız.</label>
					<input type="password" id="confirm_password" name="confirm_password" autocomplete="confirm_password" placeholder="Yeni Şifre" class="form-control" required>
				</div>

				<input type="submit" value="Güncelle" class="btn btn-primary">
			</form>
			</div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
         
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


 
{% endblock %}



{% block javascript %}

<script>

(function($) {
    $.fn.passwordStrengthForcer = function(options) {
      if (this.attr('type') != 'password'){
            alert("Not a type=\"password\" field");
            return false;
        }
        var defaults = {
            minlength: 8,
            maxlength: 0, //0 means no max length
            numuppercaserequired: 1,
            numdigitsrequired: 1,
            numspecialrequired: 0,
            prettystatmap: {
                minlengthgood: "En az",
                maxlengthgood: "En çok",
                uppercasegood: "Büyük Harf",
                digitsgood: "Sayı",
                specialgood: "Özel Karakter(!+%&/()=?*_-)",
                good: '<b>Başarılı</b>',
                fail: '<b>Hatalı</b>'
            }
        }
        var settings = $.extend({}, defaults, options);
        if (options.prettystatmap) {
            settings.prettystatmap = $.extend({}, defaults.prettystatmap, options.prettystatmap);
        }
        if (settings.maxlength > 0 && settings.minlength > settings.maxlength){
            alert("minlength: "+ settings.minlength + " is greater than maxlength: " + settings.maxlength);
            return false;
        }
        var checkvalue = function(val){
            var stats = {
                minlengthgood: false,
                maxlengthgood: false,
                uppercasegood: false,
                digitsgood: false,
                specialgood: false
            };

            if (val.length >= settings.minlength){
                stats.minlengthgood = true;
            }

            if (settings.maxlength <= 0 || val.length <= settings.maxlength){
                stats.maxlengthgood = true;
            }

            // Thanks https://stackoverflow.com/a/60696990/1993494
            var numupper = (val.match(/[A-Z]/g) || '').length;
            if (numupper >= settings.numuppercaserequired){
                stats.uppercasegood = true;
            }
            var numdigits = (val.match(/[\d]/g) || '').length;
            if (numdigits >= settings.numdigitsrequired){
                stats.digitsgood = true;
            }
            var numspecial = (val.match(/[:;<>?\/!@#$%^&*()_+\-={}\[\]\\|]/g) || '').length;
            if (numspecial >= settings.numspecialrequired){
                stats.specialgood = true;
            }
            return stats;
        }


        var $self = this;

        $self.on('input', function(){
            var val = $(this).val();
            var stats = checkvalue(val);
            var s = '';
            var numgood = 0;
            var numtotal = 0;
            for(var stat in stats){
                numtotal++;
                if (stats[stat]){
                    numgood++;
                }
                var key = stat;
                if (typeof(settings.prettystatmap[stat]) !== 'undefined'){
                    key = settings.prettystatmap[stat];
                }
                if (key == ''){
                    continue;
                }
                s += '<div>' + key + ': ';
                if (stats[stat] == true){
                    s += ' '+settings.prettystatmap.good;
                }else{
                    s += ' '+settings.prettystatmap.fail;
                }
                s += '</div>';
            }
            $psf = $(this).parent().find('.passwordStrengthForcer');
            if ($psf.length == 0){
                $(this).parent().append('<div class="passwordStrengthForcer">' + s + '</div>');
            }else{
                $psf.html(s);
            }
            $(this).attr('data-passwordStrengthForcer_AllGood', numgood === numtotal ? 1 : 0);
        });
    }
})(jQuery);


</script>


<script>
  $('#new_password').passwordStrengthForcer( {
    minlength: 8,
    maxlength: 0, //0 means no max length
    numuppercaserequired: 1,
    numdigitsrequired: 1,
    numspecialrequired: 1,
    prettystatmap:{
        minlengthgood: "En az 8 karakter",
        maxlengthgood: "",
        uppercasegood: "1 Büyük Harf",
        digitsgood: "1 Sayı",
        specialgood: "1 Özel Karakter(!+%&/()=?*_-)",
        good: '<i class="fa fa-check" aria-hidden="true" style="color: green"></i>',
        fail: '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: red"></i>'
    }
});
  $('form').on('submit', function(){
    
    if ($('#new_password').attr('data-passwordStrengthForcer_AllGood') != '1'){
        alert("Lütfen Daha güçlü bir şifre giriniz!");
        $('#new_password').focus();
        return false;
}
  if($('#new_password').val() != $('#confirm_password').val()){
    alert("Şifreler aynı değil, Lütfen Tekrar Kontrol ediniz!");
        $('#new_password').focus();
        return false;

  }
  
  })
</script>


{% endblock %}