{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <section class="content">
    <div class="card">
      
      <div class="card-header">
        <h1 class="card-title text-muted"> ÜRÜN LİSTESİ </h1>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-muted">No</th>
              <th class="text-muted">İsim</th>
              <th class="text-muted">Açıklama</th>
              <th class="text-muted">Ürün Tipi</th>
              <th class="text-muted">ML</th>
              <th class="text-muted">KDV</th>
              <th class="text-muted">KDV'siz Fiyatı</th>
              <th class="text-muted">Market Fiyatı</th>
              <th class="text-muted">Koli içi Adet</th>
              <th class="text-muted">Koli Ağırlığı</th>
              <th class="text-muted">Palet Koli Adeti</th>
              <th class="text-muted">Palet Ağırlı</th>
              <th class="text-muted">Barkod</th>
            </tr>
          </thead>
          <tbody>
            {% for product in product_list %}

            <tr>
              <td>{{product.id}}</td>
              <td>{{product.name}}</td>
              <td>{{product.description}}</td>
              <td>{{product.type.name}}</td>
              <td>{{product.meter}}</td>
              <td>{{product.vat}}</td>
              <td>{{product.price}}</td>
              <td>{{product.price_market}}</td>
              <td>{{product.package_quantity}}</td>
              <td>{{product.package_weight}}</td>
              <td>{{product.palette_quantity}}</td>
              <td>{{product.palette_weight}}</td>
              <td>{{product.barcode}}</td>
              
            </tr>

         

              {% endfor %}

          </tbody>

        </table>
        
      </div>
      <!-- /.card-body -->
    </div>


  </section>


</div>
<!-- /.content-wrapper -->





{% endblock %}

{% block javascript%}


<script>
  
  $(function () {

  

    
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,   "bPaginate": true, "iDisplayLength": 50,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  
  });


$('form').on('submit', function(){

  $('.modal').removeClass('in');
  $('.modal').attr("aria-hidden","true");
  $('.modal').css("display", "none");
  $('.modal-backdrop').remove();
  $('body').removeClass('modal-open');
 
  
 
  Swal.fire({
    title: 'Güncelleniyor...',
    html: 'Lütfen Bekleyiniz...',
    allowEscapeKey: false,
    allowOutsideClick: false,
    didOpen: () => {
      Swal.showLoading()
    }
  });
})


</script>




{% endblock %}