{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
  <div class="brand-link">
    <img src="{% static '../media/main_logo.png' %}" alt="Logo" class="brand-image img-rounded left"
      style="opacity: .8">
    <span class="brand-text font-weight-light">&nbsp;</span>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{userprofile.profile_picture.url}}" class="rounded-circle" alt="User Image"
          style="border-radius: 10px;">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.full_name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Anasayfa

            </p>
          </a>
        </li>

 

        {% comment %} <li class="nav-item menu">
          <a href="#" class="nav-link">
            <i class="fa-solid fa-object-group nav-icon"></i>

            <p>
              Malzemeler
            </p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="{% url 'materials' %}" class="nav-link">
                <i class="nav-icon fa-solid fa-object-group"></i>
                <p>Malzeme Listesi</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'material_processes' %}" class="nav-link">
                <i class="fa-solid fa-pen nav-icon"></i>
                <p>Malzeme İşlemleri</p>
              </a>
            </li>



          </ul>
        </li> {% endcomment %}


 
 

 
  
 


        <li class="nav-item menu">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-address-card"></i>
            <p>
              Profil
            </p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'edit_profile' %}" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Profil Güncelle

                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'change_password' %}" class="nav-link">
                <i class="nav-icon fas fa-pen"></i>
                <p>
                  Şifre Değiştir

                </p>
              </a>
            </li>

          </ul>
        </li>

        <li class="nav-item menu">
          <a href="#" class="nav-link">

            <i class="nav-icon fa-solid fa-user-pen"></i>
            <p>
              Kullanıcı İşlemleri
            </p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview"> 
            <li class="nav-item">
              <a href="{% url 'new_user' %}" class="nav-link">
                <i class="nav-icon fa-solid fa-plus"></i>
                <p>
                  Yeni Kullanıcı
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'users' %}" class="nav-link">
                <i class="nav-icon fas fa-address-card"></i>
                <p>
                  Kullanıcı Güncelle
                </p>
              </a>
            </li>

          </ul>
        </li>







        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>
              Çıkış
            </p>
          </a>
        </li>



      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>