{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block content %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">





<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


  <section class="content">
    <div class="card">
        <div class="card-header">
          <h1 class="card-title text-success"> Üretim Detayları </h1>
        </div>

      <div class="card-body">

        <div class="col-md-12 col-sm-12">
          <div class="row">

            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label class="text-muted">Ürün Adı</label>
                <text id="number_str" name="number_str" class="form-control"
                  aria-readonly="true">{{production.product.name}}</text>
              </div>
            </div>

            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label class="text-muted">Kayıt Tarihi</label>
                <text id="date_start" name="date_start" class="form-control"
                  aria-readonly="true">{{production.created_at|date:"Y-m-d H:i:s"}}</text>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label class="text-muted">Durum</label>

                <text id="date_start" name="date_start" class="form-control"
                  aria-readonly="true">{{production.status.name}}</text>
              </div>
            </div>


            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                <label class="text-muted">Kullanılan Kilo</label>
                <text id="date_start" name="date_start" class="form-control"
                  aria-readonly="true">{{production.kilo}}</text>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                <label class="text-muted">Beklenen Adet</label>
                <text id="date_start" name="date_start" class="form-control"
                  aria-readonly="true">{{production.quantity}}</text>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="form-group">
                <label class="text-muted">Gerçekleşen Adet</label>
                <text id="date_start" name="date_start" class="form-control"
                  aria-readonly="true">{{production.production_quantity}}</text>
              </div>
            </div>

          </div>



          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              {% if production.note_store %}
              <label class="text-warning">Depo Not: {{ production.note_store }}</label>
              {%else%}
              <label class="text-warning">Depo Not: Kullanıcı tarafından girilmedi...!</label>
              {%endif%}

            </div>
          </div>



          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              {% if production.note_production %}
              <label class="text-warning">Üretim Not: {{ production.note_production }}</label>
              {%else%}
              <label class="text-warning">Üretim Not: Kullanıcı tarafından girilmedi...!</label>
              {%endif%}

            </div>
          </div>


          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              {% if production.note_filling %}
              <label class="text-warning">Dolum Not: {{ production.note_filling }}</label>
              {%else%}
              <label class="text-warning">Dolum Not: Kullanıcı tarafından girilmedi...!</label>
              {%endif%}

            </div>
          </div>


          <br>








          <div class="col-sm-12 col-md-12">
            <div class="col-sm-12 col-md-12">

              <h1 class="card-title text-muted">KULLANILAN MALZEMELER </h1>
              <br>
              <br>
            </div>

            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-muted">Malzeme Adı</th>
                  <th class="text-muted">Adet/KG</th>
                  <th class="text-muted">Firma</th>
                  <th class="text-muted">Mal. Kabul Tarihi</th>

                </tr>
              </thead>
              <tbody>
                {% for object in material_list %}
                <tr>
                  <td>{{object.stock__material__name}}</td>
                  <td>{{object.quantity|floatformat:3}}</td>
                  <td>{{object.stock__shipment__company__name}}</td>
                  <td>{{object.stock__shipment__created_at|date:"Y-m-d H:i:s"}}</td>
                </tr>

                {% endfor %}

              </tbody>

            </table>

           
          </div>


        </div>


      </div>
    </div>

  </section>

</div>


<!-- /.content-wrapper -->





{% endblock %}

{% block javascript%}



<script type="text/javascript">
  $('form').on('submit', function () {

    if ($(document.activeElement).val() == 0) {
      if ($('#note_manager').val().length < 5) {
        alert("LÜTFEN AÇIKLAMA GİRİNİZ..!");
        return false;
      }
    }



    Swal.fire({
      title: 'Güncelleniyor...',
      html: 'Lütfen Bekleyiniz...',
      allowEscapeKey: false,
      allowOutsideClick: false,
      didOpen: () => {
        Swal.showLoading()
      }
    });



  })
</script>


<script>
  $(function () {

    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": true,
      "autoWidth": false,
      "bPaginate": true,
      "iDisplayLength": 50,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  });
</script>

{% endblock %}