{% extends 'base.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="text-muted">Ürün için Özel Liste Oluştuma</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href=" {%url 'dashboard'%}">Anasayfa</a></li>
            <li class="breadcrumb-item active">Özel Reçete</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
       
      <div class="card-header">
        <h1 class="card-title text-warning"> Lütfen Bir Adet Ürün için malzeme bilgilerini güncelleyiniz.</h1>
        <br>
        <h1 class="card-title text-warning"> Su miktarları otomatik olarak hesaplanacaktır.</h1>
      </div>

      <div class="card-body">

        <div class="col-sm-12 col-md-12">
          <form action="{% url 'special_product' product.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="text-muted">Ürün Adı</label>
                  <text id="product" name="product" class="form-control" aria-readonly="true">{{product.name}}</text>
                </div>
              </div>

              <div class="col-md-3 col-sm-3">
                <div class="form-group">
                  <label class="text-muted">Toplam Ağırlık</label>
                  <text id="kilo" name="kilo" class="form-control" aria-readonly="true">{{kilo}}</text>
                </div>
              </div>


            </div>


            <hr>

            {% for mat in product_material_list %}
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="text-muted">{{ forloop.counter }}. Malzeme</label>
                  <select class="form-control select2" style="width: 100%;" id="material_{{ forloop.counter }}"
                    name="material_{{ forloop.counter }}">
                    <option value="0"> Lütfen Malzeme Seçiniz...</option>
                    {% for material in material_list %}
                    <option value="{{material.id}}" {% if mat.material_id == material.id %}
                      selected={{material.id}}{% endif %}> {{material.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group">
                  <label class="text-muted">Miktar(KG-LT)/Adet</label>
                  <input type="number" step="any" id="quantity_{{ forloop.counter }}"
                    name="quantity_{{ forloop.counter }}" class="form-control" cols="40" value="{{mat.quantity}}"
                    required>

                </div>
              </div>
              

            </div>
            {% endfor %}




            {% if new_list_range %}
            {% for i in new_list_range %}
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="text-muted">{{ i }}. Malzeme</label>
                  <select class="form-control select2" style="width: 100%;" id="material_{{ i }}"
                    name="material_{{ i }}">
                    <option value="0"> Lütfen Malzeme Seçiniz...</option>
                    {% for material in material_list %}
                    <option value="{{material.id}}" {% if mat.id == material.id %} selected={{mat.id}}{% endif %}>
                      {{material.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-3">
                <div class="form-group">
                  <label class="text-muted">Miktar(KG-LT)/Adet</label>
                  <input type="number" step="any" id="quantity_{{ i }}" name="quantity_{{ i }}" class="form-control"
                    cols="40" value="0" required>

                </div>
              </div>
               

            </div>
            {% endfor %}
            {% endif %}

            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <input type="hidden" name="id_kilo" value="{{ id_kilo }}">
                <button name="submit" type="submit" class="btn btn-primary">Kontrol Et</button>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
    <!-- /.card -->

  </section>


</div>
<!-- /.content -->



{% endblock %}




{% block javascript%}


<script type="text/javascript">
  $('form').on('submit', function () {


    let material_selected = false;

    for (let i = 1; i < 16; i++) {

      material_id = "material_" + i
      mat = document.getElementById(material_id);
      mat_data = mat.options[mat.selectedIndex].value;

      if (mat_data > 0) {
        material_selected = true
     
        quantity_ = "#quantity_" + i
        if (parseFloat($(quantity_).val()) =< 0) {
          alert("Lütfen " + i + ". malzeme için miktar bilgisi giriniz...!");
          $(quantity_).focus();
          return false;
        }


      }




    }


    if (material_selected == false) {
      alert("Lütfen  en az bir tane Malzeme girişi yapınız...!");
      $("material_1").focus();
      return false;
    }





    $("body").loading({
      stoppable: false,
      message: "LÜTFEN BEKLEYİNİZ...",
      theme: "dark"
    });

  })
</script>

{% endblock %}