<!doctype html>
<!--[if lte IE 8]><html class="oldie" lang="tr"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="tr">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://giris.turkiye.gov.tr/Giris/gir">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description"
    content="e-Devlet Kapısı'nı kullanarak kamu kurumlarının sunduğu hizmetlere tek noktadan, hızlı ve güvenli bir şekilde ulaşabilirsiniz." />
  <meta name="keywords" content="e-devlet, türkiye.gov.tr, e-devlet kapısı, edevlet, e devlet, türkiyegovtr" />
  <meta name="robots" content="index,follow" />
  <meta property="og:url" content="https://www.turkiye.gov.tr/calisma-hayatim">
  <meta property="og:title" content="e-Devlet Kapısı - Çalışma Hayatım">
  <meta property="og:description"
    content="e-Devlet Kapısı'nı kullanarak kamu kurumlarının sunduğu hizmetlere tek noktadan, hızlı ve güvenli bir şekilde ulaşabilirsiniz.">
  <meta property="og:image" content="//cdn.e-devlet.gov.tr/themes/ankara/images/fb-share-v01.jpg">
  <title>e-Devlet Kapısı - Çalışma Hayatım</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1C3761">
  <link rel="icon" type="image/png" href="//cdn.e-devlet.gov.tr/themes/izmir/images/favicons/favicon-196x196.1.8.0.png"
    sizes="196x196" />
  <meta name="google-play-app" content="app-id=tr.gov.turkiye.edevlet.kapisi">
  <link rel="alternate" type="application/rss+xml" title="e-Devlet Kapısı" href="/rss" />
  <link rel="search" type="application/opensearchdescription+xml"
    href="//cdn.e-devlet.gov.tr/themes/ankara/assets/opensearch.xml" title="Arama" />
  <link rel="stylesheet" href="//cdn.e-devlet.gov.tr/themes/izmir/css/base.1.9.1.css">
  <script id="info_js" data-static-version="1.9.1" src="//cdn.e-devlet.gov.tr/themes/izmir/js/header.1.9.1.js"></script>
  <script src="//cdn.e-devlet.gov.tr/themes/izmir/js/es/t.1.9.1.js"></script>
  <script src="//cdn.e-devlet.gov.tr/themes/izmir/js/es/ajax.1.9.1.js"></script>
  <!--[if lte IE 9]><script src="//cdn.e-devlet.gov.tr/themes/izmir/js/common-old.1.9.1.js"></script><![endif]-->
  <!--[if gt IE 9]><!-->
  <script src="//cdn.e-devlet.gov.tr/themes/izmir/js/common.1.9.1.js"></script>
  <!--<![endif]-->
  <link href="//cdn.e-devlet.gov.tr/themes/izmir/css/common-pages.1.9.1.css" rel="stylesheet" />
</head>

<body data-version=".1.8.0" data-token="{F106BC-474C7D-16925C-859438-744072-2FFA26-09D658-E1E703}"
  data-unique="28ef3fde00aff0319bebd84b352cd3b2" data-level="1" data-page="calisma-hayatim" data-lang="tr_TR.UTF-8">
  <header id="top">
    <div class="headerGroup">
      <div id="accesibilityBlock">
        <a href="#pageContentBlock" accesskey="1">İçeriğe Git</a>
        <a href="/" accesskey="2">Ana Sayfa</a>
      </div>

      <h1 id="brandingBlock">
        <a id="homeLink" href="/" title="Ana Sayfa'ya Dönüş">e-Devlet Kapısı</a>
      </h1>
      <nav id="mainActionsBlock">
        <h2 class="sectionTitle">Ana Bölümler</h2>
        <ul class="mainActionsList">
          <li><span class="fast-shortcuts">
              <a href="/iletisim?hizli=CozumMerkeziV2" title="Hızlı Çözüm" aria-label="Hızlı Çözüm"><i
                  class="edk-fonticon-fastresponse"></i><span> Hızlı Çözüm</span></a></span>
          </li>


          <li class="inner-wrapper">
            <ul class="accessibility" aria-expanded="false" role="menu" tabindex="0" aria-label="Erişilebilirlik">
              <li class="active">
                <i class="ico-key-1"></i>
              </li>
              <li class="menu">
                <ul>
                  <li><a role="menuitem" title="Erişilebilirlik Özellikleri" aria-label="Erişilebilirlik Özellikleri"
                      href="/bilgilendirme?konu=erisilebilirlik">Erişilebilirlik Özellikleri</a></li>
                  <li><a role="menuitem" title="Salt Metin Görünümü" aria-label="Salt Metin Görünümü" href="#"
                      class="textOnlyToggle" data-state="html">Salt Metin Görünümü</a></li>
                  <li><a role="menuitem" title="Daha Belirgin Odaklama" aria-label="Daha Belirgin Odaklama" href="#"
                      class="fontSizeToggle" data-state="normal">Daha Belirgin Odaklama</a></li>
                </ul>
              </li>
            </ul>
            <nav class="fast-shortcuts">
              <ul>
                <li>
                  <a href="/bana-ozel" title="Benim Sayfam">
                    <span class="ico-address-card-o" aria-hidden="true"></span>
                  </a>
                  <a href="/favori-hizmetlerim" title="Favori Hizmetlerim">
                    <span class="ico-star" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </li>
          <li class="search-form-wrapper">
            <form id="searchForm" name="searchForm" method="get" action="/arama">
              <label for="searchField">Aranan Terim</label>
              <div class="search-wrapper">
                <div class="inner-search">
                  <input placeholder="Size nasıl yardım edebilirim?" id="searchField" name="aranan" value=""
                    autocomplete="off" role="combobox" aria-owns="popSearch" aria-haspopup="true"
                    aria-autocomplete="both" aria-expanded="false" autocorrect="off" autocapitalize="off" />
                  <span class="ico-search"></span>
                </div>
                <ul id="popSearch"></ul>
              </div>
              <input id="searchButton" type="submit" value="Ara" />
            </form>
          </li>
          <li aria-haspopup="true" id="userMenu" aria-expanded="false" role="menu" tabindex="0"
            aria-label="kullanıcı menüsü">
            <a href="javascript:" title="Kullanıcı Menüsü" class="userMenuButton"
              onclick="$(this).next().toggleClass('open');">
              <span class="ico-user"></span>
              SEDAT </a>
            <nav id="userContextMenu">
              <ul class="userShortcuts">
                <li class="trid">12347145580</li>
                <li><a role="menuitem" href="/bana-ozel" class="myPage" aria-label="Benim Sayfam">Benim Sayfam</a></li>
                <li><a role="menuitem" href="/favori-hizmetlerim" class="favorites"
                    aria-label="Favori Hizmetlerim">Favori Hizmetlerim</a></li>
                <li><a role="menuitem" href="/gelen-kutusu" class="inbox" aria-label="Gelen Kutusu">Gelen Kutusu </a>
                </li>
                <li><a role="menuitem" href="/iletisim-secenekleri" class="security"
                    aria-label="İletişim Seçenekleri">İletişim Seçenekleri</a></li>
                <li><a role="menuitem" href="/sifre-guvenlik-ayarlari" class="security"
                    aria-label="Güvenlik ve Ayarlar">Güvenlik ve Ayarlar</a></li>
                <li><a role="menuitem" href="https://giris.turkiye.gov.tr/Giris/SifreDegistir" class="security"
                    aria-label="Şifremi Değiştir">Şifremi Değiştir</a></li>
                <li><a role="menuitem" href="/logout" class="logout" aria-label="Güvenli Çıkış">Güvenli Çıkış</a></li>
              </ul>
            </nav>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="serviceBlock" class="typeInsurance">
    <div id="vue">
      <nav class="pageTabNavigation">
        <ul class="breadcrumbNavigation">
          <li><a href="/" class="home">Ana Sayfa</a></li>
          <li><a href="/calisma-hayatim">Çalışma Hayatım</a></li>
        </ul>
      </nav>
      <section id="pageContentBlock" class="themed">
        <section class="serviceTitleBlock">
          <div class="serviceDetails"><img class="agencyLogo webp"
              src="//cdn.e-devlet.gov.tr/themes/ankara/images/logos/64webp/konsept003.1.8.0.webp" alt="" width="64"
              height="64">
            <h2><a href="/calisma-hayatim">e-Devlet Kapısı</a><em>Çalışma Hayatım</em></h2>
          </div>
          <div class="serviceActions">
            <div class="share_item"><button class="share_button" id="share_button" data-match-height="serviceActs"><i
                  class="ico-share"></i> <span class="serviceActions_maintitle">Paylaş</span></button>
              <div class="share_menu" id="share_menu" data-match-height="serviceActs"><a target="_blank"
                  aria-label="paylaş" title="Twitter'da Paylaş"
                  href="http://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.turkiye.gov.tr/calisma-hayatim&text=e-Devlet+Kap%C4%B1s%C4%B1%C3%87al%C4%B1%C5%9Fma+Hayat%C4%B1m&via=ekapi&related=ekapi"><i
                    class="ico-twitter"></i><span class="serviceActions_maintitle">Twitter'da Paylaş</span></a><a
                  target="_blank" aria-label="paylaş" title="Facebook'da Paylaş"
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.turkiye.gov.tr/calisma-hayatim"><i
                    class="ico-facebook"></i><span class="serviceActions_maintitle"> Facebook'da Paylaş</span></a></div>
            </div>
          </div>
        </section>
        <aside id="serviceHelperBlock">
          <ul class="serviceIntroductionBlock">
            <li>Bu hizmet e-Devlet Kapısı altyapısı üzerinden sunulmaktadır.</li>
            <ol class="progressMeter no-bullet-steps">
              <li class="incomplete"><a href="/calisma-hayatim?emeklilik=Islemleri">Emeklilik İşlemleri</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?calisan=Islemleri">Çalışan</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?sgk=Borclariniz">SGK Borçlarınız</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?saglik=Tedavi">Sağlık Tedavi</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?is=Ariyorum">İş Arıyorum</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?yapilandirma=Islemleri">Yapılandırma İşlemleri</a></li>
              <li class="incomplete"><a href="/calisma-hayatim?card=Yetkinliklerim">Yetkinliklerim</a></li>
              <li class="final"><a href="/calisma-hayatim?card=Bildirimler">Bildirimler</a></li>
            </ol>
          </ul>
        </aside>
        <script type="text/javascript">
          $(function () {
            $('#aFavorite').click(function () {
              $.ajax({
                type: "POST",
                url: '/favori-hizmetlerim?add=RemoveFavorite&submit',
                data: {
                  hizmetKodu: $(this).attr('data-hizmetKodu'),
                  token: '{F106BC-474C7D-16925C-859438-744072-2FFA26-09D658-E1E703}',
                  ajax: 1
                },
                success: function (json) {
                  var obj = $('#aFavorite');
                  if (json.data.add) {
                    obj.addClass("addedfavorite");
                    $('._fav').text("Favorilerden Çıkar");
                  } else {
                    obj.removeClass("addedfavorite");
                    $('._fav').text("Favorilere ekle");
                  }
                }
              });
            });
            if (typeof $.fn.edkPopover !== 'undefined') {
              $(".share_item").edkPopover({
                button: "#share_button",
                content: "#share_menu",
                showArrowIcon: false,
                animationSpeed: "fast"
              });
            }
          });
        </script>
        <section id="contentStart noInfo" class="serviceContainer">







          <ol class="serviceInstructions">
            Bu hizmeti kullanarak çalışma hayatınız ile ilgili;
            iş arama, çalışmaya başlama, sigorta, emeklilik, mesleki yeterlilik gibi bilgileri görüntüleyebilir ve
            ilgili işlemleri yapabilirsiniz.
          </ol>

          <div class="reminderContainer">İşten ayrılış bildirgelerinin 01/08/2009 tarihinden sonra dijital ortamda beyan
            edilmesine başlandığı için;
            bu tarihlerden önce kağıt ortamda verilen bildirgeler bu sayfada görüntülenememektedir.
            Bu sayfada gösterilen tescil bilgilerinizde eksiklik / hata olduğunu düşünüyorsanız; söz konusu
            çalışmalarınızı,
            “SGK Tescil ve Hizmet Dökümü / İşyeri Unvan Listesi” hizmetinden görüntüleyebilirsiniz.</div>






          <ul class="toogleBar htoogleBar">
            <li><a href="#tab4A" class="selected">4A TESCİLİ EMEKLİLİK BİLGİLERİ</a></li>
          </ul>
          <div class="scard_container">
            <section class="tabgroup">


              <div id="tab4A" class="toggled active">
                <div class="card_row_sm">
                  <h3>
                    4A TESCİLİNE GÖRE EMEKLİLİK BİLGİLERİNİZ
                  </h3>
                  <div class="card-item colc1 bborder">
                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p "> 4A TESCİL BAŞLANGIÇ <span>26.12.2006</span></div>
                    </div>
                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">HİZMETE BAŞLAMA TARİHİNİZ <span>26.12.2006</span></div>
                      <div class="cardcontainer_title w50p ">PRİM ÖDEME GÜN SAYISI<span class="text_green">5579</span>
                      </div>
                    </div>
                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p">YAŞINIZ<span> 39 yıl, 8 ay, 30 gün</span></div>
                      <div class="cardcontainer_title w50p">SİGORTALILIK SÜRESİ <span>15 yıl, 11 ay, 10 gün</span></div>
                    </div>
                  </div>

                </div>

                <div class="card_row_sm">
                  <h4>EMEKLİLİK ŞARTLARI (60 YAŞ/7000 GÜN)
                  </h4>

                  <div class="card-item colc1 bborder">

                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">EMEKLİLİK YAŞI <span>60 YAŞ</span></div>
                      <div class=" w50p ">
                        <div class="cardcontainer_title ">KALAN YAŞ
                          <span class="text_blue"> 20 yıl, 2 ay, 30 gün </span>

                          <div class="progressbar progressbar_neo">
                            <span class="progress_comp bg_blue" style="width:66%;"></span>
                            <div class="progressbar_result">%66</div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">PRİM GÜN SAYISI <span>7000 GÜN</span></div>
                      <div class=" w50p ">
                        <div class="cardcontainer_title ">KALAN PRİM GÜN<span class="text_green">1421 GÜN</span>

                          <div class="progressbar progressbar_neo">
                            <span class="progress_comp bg_green" style="width:80%;"></span>
                            <div class="progressbar_result">%80</div>
                          </div>
                        </div>

                      </div>
                    </div>


                  </div>

                </div>

                <div class="card_row_sm">
                  <h4>EMEKLİLİK ŞARTLARI (60 YAŞ/4500 GÜN/25 YIL)
                  </h4>

                  <div class="card-item colc1 bborder">

                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">EMEKLİLİK YAŞI <span>60 YAŞ</span></div>
                      <div class=" w50p ">
                        <div class="cardcontainer_title ">KALAN YAŞ
                          <span class="text_blue"> 20 yıl, 2 ay, 30 gün </span>

                          <div class="progressbar progressbar_neo">
                            <span class="progress_comp bg_blue" style="width:66%;"></span>
                            <div class="progressbar_result">%66</div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">PRİM GÜN SAYISI <span>4500 GÜN</span></div>
                      <div class=" w50p ">
                        <div class="cardcontainer_title ">KALAN PRİM GÜN<span class="text_green">0 GÜN</span>

                          <div class="progressbar progressbar_neo">
                            <span class="progress_comp bg_green" style="width:100%;"></span>
                            <div class="progressbar_result">%100</div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="card_row_sm">
                      <div class="cardcontainer_title w50p ">SİGORTALILIK SÜRESİ<span>25 YIL</span></div>
                      <div class=" w50p ">
                        <div class="cardcontainer_title ">KALAN SÜRE<span class="text_yellow"> 9 yıl, 0 ay, 19
                            gün</span>
                          <div class="progressbar progressbar_neo">
                            <span class="progress_comp bg_yellow" style="width:64%;"></span>
                            <div class="progressbar_result">%64</div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>





                <br>
                <span class="footer_dsc">
                  <div class="reminderContainer"><strong>Resmi belge niteliği taşımamakta olup, sadece bilgilendirme
                      amaçlıdır.</strong></div>
                  <br />
                  * İlk tescil tarihi ile adınıza ilk defa uzun vade sigorta primi ödenen tarihin farklı olması, fiili
                  hizmet süresi zammı ve/veya itibari hizmet süresi kapsamında hizmetlerinizin bulunması halinde;
                  emeklilik koşullarınız yeniden hesaplanmalıdır. Bu durumda en son çalışmalarınızın bulunduğu Sosyal
                  Güvenlik İl / Merkezine müracaatınız gerekmektedir.
                  <br />
                  * Bu uygulamada, ağır engelli çocuğu bulunan kadın sigortalıların, engelliliği nedeniyle vergi
                  indiriminden yararlananların, çalışma gücü kayıp oranı %60 altında olanların, erken yaşlananların,
                  maden yeraltı hizmetleri bulunanların, ilk defa çalışmaya başladığı tarihten önce malul olduğu tespit
                  edilenlerin ve ileri yaş emeklilik koşulları hesaplanmamaktadır. Bu durumda en son çalışmalarınızın
                  bulunduğu Sosyal Güvenlik İl / Merkezine müracaatınız gerekmektedir.
                  <br />
                  * Dosyanızda yer alan bilgilerle sistemdeki bilgilerin farklılık göstermesi durumunda emeklilik
                  koşullarınız farklılık gösterebilecektir.
                  <br />
                  * Emeklilik şartlarınızda bir tereddüt olması durumunda bağlı bulunduğunuz Sosyal Güvenlik İl /
                  Merkezine müracaat ediniz ve ilgili Merkezin yazılı olarak tarafınıza bildirmiş olduğu emekliliğe hak
                  kazanma koşullarını dikkate alınız.
                  <br />
                  * Yukarıda belirtilen hak kazanma koşullarınız ;
                  2008 yılı Ekim ayı başından (kamu sektörü için 15/10/2008 (hariç), özel sektör için 1/10/2008 (hariç)
                  ) önce sigortalı olanlar için 2829 Kanuna göre son yedi yıllık fiili hizmet süreniz içinde 4/1-(a)
                  hizmetinizin fazla olması durumunda geçerlidir.

                  2008 yılı Ekim ayı başından (kamu sektörü için 15/10/2008 (hariç), özel sektör için 1/10/2008 (hariç)
                  ) sonra sigortalı olanlar için ise
                  5510 sayılı Kanunun 53’üncü maddesi gereğince fiili hizmet süreniz içinde en fazla 4/1-(a)
                  hizmetinizin olması durumunda geçerlidir.
                  <br />
                </span>


              </div>









            </section>

          </div>












          <div class="consept-cards">

            <div class="card-item">
              <a href="/calisma-hayatim?emeklilik=Islemleri">
                <span class="card-icon"> <img alt=""
                    src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/emekliler.png"> </span>
                <div class="card-content">
                  <h2>Emeklilik İşlemleri</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?calisan=Islemleri">
                <span class="card-icon"> <img alt="" src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/calisan.png">
                </span>
                <div class="card-content">
                  <h2> Çalışan</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?sgk=Borclariniz">
                <span class="card-icon"> <img alt="" src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/odeme.png">
                </span>
                <div class="card-content">
                  <h2> SGK Borçlarınız </h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?saglik=Tedavi">
                <span class="card-icon"> <img alt="" src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/saglik.png">
                </span>
                <div class="card-content">
                  <h2> Sağlık Tedavi</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?is=Ariyorum">
                <span class="card-icon"> <img alt="" src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/isara.png">
                </span>
                <div class="card-content">
                  <h2>İş Arıyorum</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?yapilandirma=Islemleri">
                <span class="card-icon"> <img alt="" src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/esnaf.png">
                </span>
                <div class="card-content">
                  <h2> Yapılandırma İşlemleri</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?card=Yetkinliklerim">
                <span class="card-icon"> <img alt=""
                    src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/yetkinlik.png"> </span>
                <div class="card-content">
                  <h2> Yetkinliklerim</h2>
                </div>
              </a>
            </div>

            <div class="card-item">
              <a href="/calisma-hayatim?card=Bildirimler">
                <span class="card-icon"> <img alt=""
                    src="//cdn.e-devlet.gov.tr/themes/ankara/images/icons/bildirim.png"> </span>
                <div class="card-content">
                  <h2> Bildirimler </h2>
                </div>
              </a>
            </div>

          </div>


        </section>
        <script type="text/javascript">
          $(document).ready(function () {
            let selectedTab = $('.selected');
            if (selectedTab.length) {
              $(selectedTab)[0].click()
            }
            $('.concept_info_btn').on('click', function () {
              jQuery.facebox($(this).find('.sartaBagliAciklama').html());
            });
          });
        </script>


      </section>
    </div>
  </main>

  <footer data-pagecache="0.020742177963257">
    <!--    -->
    <div id="bottomLinksGroup">
      <div id="bottomLinksWrapper">
        <nav id="bottomLinksBlock" aria-labelledby="bottomLinksBlockTitle">
          <h2 class="sectionTitle" id="bottomLinksBlockTitle">Sayfa Sonu Bağlantıları</h2>
          <ul id="bottomLinks">
            <li class="bottomLinksGroup">
              <h3>e-Devlet Kapısı</h3>
              <ul>
                <li> <a href="/calisma-hayatim?lang=en_US">English</a>
                </li>
                <li>
                  <a href="/bilgilendirme?konu=siteHakkinda">Hakkımızda</a>
                </li>
                <li>
                  <a href="/bilgilendirme?konu=yasalBildirim">Yasal Bildirim</a>
                </li>
                <li>
                  <a href="/bilgilendirme?konu=kvkk">KVKK Aydınlatma Yükümlülüğü</a>
                </li>
                <li><a accesskey="8" href="/bilgilendirme?konu=gizlilik">Gizlilik ve Kullanım</a>
                </li>
                <li>
                  <a href="/bilgilendirme?konu=politikalar">Politikalarımız</a>
                </li>
                <li>
                  <a href="/bilgilendirme?konu=detsis">DETSİS</a>
                </li>


              </ul>
            </li>
            <li class="bottomLinksGroup">
              <h3>e-Hizmetler</h3>
              <ul>
                <li>
                  <a href="/cok-kullanilan-hizmetler">Sık Kullanılan Hizmetler</a>
                </li>
                <li>
                  <a href="/yeni-eklenen-hizmetler">Yeni Eklenen Hizmetler</a>
                </li>
                <li><a href="/hizmetler" accesskey="h">Kurum Hizmetleri</a></li>
              </ul>
            </li>
            <li class="bottomLinksGroup">
              <h3>Yardım</h3>
              <ul>
                <li><a href="/bilgilendirme?konu=yardim" accesskey="6">Genel Yardım</a></li>
                <li><a href="/bilgilendirme?konu=sikcaSorulanlar" accesskey="5">Sıkça Sorulanlar</a></li>
                <li>
                  <a href="/bilgilendirme?konu=guvenlik">Güvenliğiniz İçin</a>
                </li>
                <li>
                  <a href="/non-citizens">Help For Non-Citizens</a>
                </li>
              </ul>
            </li>
            <li class="bottomLinksGroup">
              <h3>Bize Ulaşın</h3>
              <ul>
                <li><a href="/iletisim" accesskey="9">İletişim</a>
                </li>
                <li>
                  <a href="/cumhurbaskanligi-iletisim-merkezi">CİMER Başvurusu </a>
                </li>
              </ul>
            </li>
            <li class="bottomLinksGroup">
              <h3>Erişilebilirlik</h3>
              <ul>
                <li><a href="#" class="textOnlyToggle" data-state="html">Salt Metin Görünümü</a></li>
                <li><a href="#" class="fontSizeToggle" data-state="normal">Daha Belirgin Odaklama</a></li>
                <li><a accesskey="0" href="/bilgilendirme?konu=erisilebilirlik">Klavye Kısayolları</a>
                </li>
                <li><a href="/site-haritasi" accesskey="3">Site Haritası</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div id="bottomRightWrapper">
          <nav id="bottomContacts" aria-labelledby="sectionTitleContacts" aria-describedby="bottomContactsText">
            <h2 class="sectionTitle" id="sectionTitleContacts">İletişim Seçenekleri</h2>
            <div class="bottomContactsText" id="bottomContactsText">
              <em>Yardım mı lazım?</em> Aşağıdaki yöntemleri kullanarak bizimle iletişime geçebilirsiniz.
            </div>
            <ul id="bottomContactsList">
              <li><a href="/iletisim?hizli=CozumMerkeziV2" class="fastresponse">Hızlı Çözüm Merkezi</a></li>
              <li><a href="/iletisim?iletisim=Formu" class="email" accesskey="7">Bize Yazın</a></li>
              <li><a href="/iletisim" class="callcenter">e-Devlet Çağrı Merkezi</a></li>
              <li><a href="/e-devlette-engel-yok" class="signinghelp">Engelsiz Çağrı Merkezi</a></li>
            </ul>
          </nav>
          <nav id="bottomSocialLinks" aria-label="Sosyal Medya Bağlantı Adresleri">
            <a href="https://www.facebook.com/edevletkapi" title="Facebook" target="_blank"><span
                class="ico-facebook"></span>Facebook</a>
            <a href="https://twitter.com/ekapi" title="Twitter" target="_blank"><span
                class="ico-twitter"></span>Twitter</a>
            <a href="https://www.youtube.com/channel/UChX28IHPQ2jyaBatdfRqGSQ" title="Youtube" target="_blank"><span
                class="ico-youtube"></span>Youtube</a>
            <a href="https://www.instagram.com/edevletkapisi" title="Instagram" target="_blank"><span
                class="ico-instagram-1"></span>Instagram</a>
          </nav>
        </div>
      </div>
      <div id="bottomPartnerLinks">
        <div class="images">
          <a class="externalLink" rel="external" href="http://www.cbddo.gov.tr"><img
              title="T.C. Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanlığı"
              alt="T.C. Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanlığı"
              src="//cdn.e-devlet.gov.tr/themes/izmir/images/footer/DDO-logo.png" /></a>
          <a class="externalLink" rel="external" href="http://www.turksat.com.tr"><img title="Türksat A.Ş."
              alt="Türksat A.Ş." src="//cdn.e-devlet.gov.tr/themes/izmir/images/footer/turksat.png" /></a>
        </div>
        <div class="bottomPartnerText">
          e-Devlet Kapısı’nın kurulması ve yönetilmesi görevi <a class="externalLink" rel="external"
            href="http://www.cbddo.gov.tr">T.C. Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanlığı</a> tarafından
          yürütülmekte olup, sistemin geliştirilmesi ve işletilmesi <a class="externalLink"
            href="http://www.turksat.com.tr" rel="external">Türksat A.Ş.</a> tarafından yapılmaktadır.
        </div>
      </div>
      <div id="bottomCopyrightBlock">
        ©
        <time datetime="2022-12-06">2022</time> Tüm Hakları Saklıdır. <a href="/bilgilendirme?konu=gizlilik">Gizlilik,
          Kullanım ve Telif Hakları</a> bildiriminde belirtilen kurallar çerçevesinde hizmet sunulmaktadır.
      </div>
    </div>
  </footer>
  <script src="//cdn.e-devlet.gov.tr/themes/izmir/js/forms.1.9.1.js" charset="utf-8"></script>
  <script type="text/javascript">
    function loadJsData(_js, _jsv, _siteId) {
      var _paq;
      _paq = window._pap = window._pap || [];
      var _param = {
        "_kk": 0,
        "_hk": 0,
        "_y": 39,
        "_c": 1,
        "_gy": 1,
        "_t": "VaiWDmKGqr6ZX+4=",
        "_pi": true,
        "_l": "tr",
        "_si": 166,
        "_md": false
      };
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      var _cn = function (n) {
        return d.getElementsByClassName(n);
      };
      _param._jsv = _jsv;
      _paq.push(['setCssControlArr', [function () {
        return _cn("warningContainer").length > 0 && _cn("warningContainer")[0].style.display !== 'none' ?
          'warning' : null;
      }, function () {
        return _cn("errorContainer").length > 0 && _cn("errorContainer")[0].style.display !== 'none' ? 'error' :
          null;
      }, function () {
        return _cn("confirmContainer").length > 0 && _cn("confirmContainer")[0].style.display !== 'none' ?
          'confirm' : null;
      }, function () {
        return _cn("disclaimerContainer").length > 0 && _cn("disclaimerContainer")[0].style.display !== 'none' ?
          'disclaimer' : null;
      }, function () {
        return _cn("reminderContainer").length > 0 && _cn("reminderContainer")[0].style.display !== 'none' ?
          'reminder' : null;
      }, function () {
        return _cn("progressContainer").length > 0 && _cn("progressContainer")[0].style.display !== 'none' ?
          'progress' : null;
      }]]);
      _paq.push(['trackPageView', d.title, _param]);
      _paq.push(['setSiteId', _siteId]);
      g.type = 'text/javascript';
      g.async = true;
      if (parseInt(Math.random() * 2) == 0) {
        _paq.push(['setTrackerUrl', "https://analitik.edevlet.gov.tr"]);
      } else {
        _paq.push(['setTrackerUrl', "https://analitik2.edevlet.gov.tr"]);
      }
      g.src = '//cdn.e-devlet.gov.tr/themes/ankara/js/analitik.min.' + _jsv + '.js';
      s.parentNode.insertBefore(g, s);
    }
    window.onload = function () {
      loadJsData('/analitik/analitik.min.js', 9, 1);
    };
  </script>
</body>

</html>